.signin-body {
    background-color: #e6f2ff;

}

.container.signin-container {
    margin-top: 8%;
}

.signin-card {
    padding: 40px 0px 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.signin-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    /* width: 20%; */
}

.signin-form {
    max-width: 350px;
    margin: auto;
}

.signin-btn {
    color: white;
    background-color: #2A2A2A;
    width: 100%;
}

.newAccount {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}